{% extends 'base.html' %}
{% block content %}
    <div><h3>Lista Planów Treningowych</h3>
        <ol>
            {% for workout_plan in workout_plans %}
                <li><h4>{{ workout_plan.name }}</h4>
                    <a href="{% url 'workout_plan_detail' workout_plan.pk %}"><button>Szczegóły</button></a>
                    <a href="{% url 'update_workout_plan' workout_plan.pk %}"><button>Aktualizuj</button></a>
                    <a href="{% url 'delete_workout_plan' workout_plan.pk %}"><button>Usuń</button></a>
                    <a href="{% url 'generate_workout_plan_pdf' workout_plan.pk %}"><button>Pobierz</button></a>
                </li>
            {% endfor %}
        </ol>
    </div>
    <div><h3>Dodaj Nowy Plan</h3>
    {%  include 'training/form_training.html' %}
    </div>
{% endblock %}
